/abarrotesObjetosNegocio_232979_228264/build/
/abarrotesObjetosNegocio_232979_228264/dist/
/abarrotesObjetosNegocio_232979_228264/nbproject/private/
/Pruebas_232979_228264/nbproject/private/
/Pruebas_232979_228264/build/
/abarrotesObjetosNegocio_232979_228264/nbproject/
abarrotesObjetosNegocio_232979_228264/target/test-classes/DAOs/MovimientosGranelTest.class

# Archivos compilados
*.class

# Directorios de compilación
/target/

# Configuración de IDEs
*.iml
.idea/
*.ipr
*.iws
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/abarrotesObjetosNegocio_232979_228264/target
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/abarrotesPresentacion_232979_228264/target/
/abarrotesObjetosNegocio_232979_228264/target
/abarrotesObjetosNegocio_232979_228264/target
/InterfazGrafica/target/
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
InterfazGrafica/pom.xml
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
abarrotesObjetosNegocio_232979_228264/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
abarrotesObjetosNegocio_232979_228264/target/surefire-reports/DAOs.ProductosGranelTest.txt
/abarrotesPresentacion_232979_228264/nbproject/
abarrotesObjetosNegocio_232979_228264/target/surefire-reports/DAOs.ProductosGranelTest.txt
InterfazGrafica/abarrotesPresentacion_232979_228264-1.0-SNAPSHOT.jar
InterfazGrafica/nbactions.xml
abarrotesPresentacion_232979_228264/target/surefire-reports/PercistenciaListas.PersistenciaFachadaTest.txt
abarrotesPresentacion_232979_228264/target/surefire-reports/TEST-PercistenciaListas.PersistenciaFachadaTest.xml
InterfazGrafica/src/main/java/interfazUsuario/FrmAbarrotes.form
